:root {
    --base_text-color: #646464;
    --black-color: #212121;
    --white-color: #FFFFFF;
    --brown-color: #B0855B;
    --button_green-color: #37806B;
    --icons_gray-color: #D5D5D5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--base_text-color);
}

.container {
    max-width: 1346px;
    margin: 0 auto;
}

.header_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 151px;
    height: 47px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    width: 650px;
    height: 22px;
    margin: 0 64px 0 0;
}

.link_page, .link > li {
    color: var(--black-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

.registr {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--white-color);
    background-color: var(--brown-color);
    border-radius: 15px 0 15px 0;
    width: 97px;
    height: 32px;
    padding: 5px 15px;
    border: none;
}

.registr:hover {
    background-color: var(--button_green-color);
}

/* main */

.modern {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    margin: 95px 0;
}

.modern_info >p:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 78px;
    color: var(--black-color);
    margin-top: 12px;
    margin-bottom: 23px;
}

.modern_info > p:nth-child(2) {
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 28px;
}

.click, .click2, .click3 {
    width: 142px;
    height: 42px;
    background-color: var(--button_green-color);
    color: var(--white-color);
    border-radius: 20px 0;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    margin-top: 35px;
}

.click:hover, .click2:hover, .click3:hover, .click4:hover {
    background-color: var(--brown-color);
}

.modern > div:nth-child(2) {
    position: relative;
}

.image_design, .image_border {
    width: 716px;
    height: 626px;
    border-radius: 20% 0 20% 0;
}

.image_border {
    border: 2px solid var(--brown-color);
    position: absolute;
    top: 33px;
    left: 35px;
    z-index: -1;
}

.our_service {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.service_title > p {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.service_title > h2 {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    line-height: 78px;
    color: var(--black-color);
}

.switch {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 78px;
}

.switch > button {
    background-color: var(--white-color);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 29px;
    box-shadow: 0 2px 6px -1px;
}

.switch > button:hover {
    background-color: var(--button_green-color);
}

.black_white:hover {
    color: var(--white-color);
}

.service_list {
    display: flex;
    justify-content: space-around;
    gap: 37px;
}

.service_ideas {
    display: flex;
    align-items: flex-start;
    border-radius: 60px 0;
    border: none;
    box-shadow: 0 5px 9px -5px;
    width: 425px;
    height: 193px;
}

.service_ideas > img {
    margin: 40px 20px 0 37px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    color: var(--black-color);
    margin-top: 35px;
    margin-bottom: 12px;
}

.brown {
    color: var(--white-color);
}

.about_us {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 200px 0;
}

.image_border_2 {
    border: 2px solid var(--brown-color);
    position: absolute;
    z-index: -1;
    top: -32px;
    left: -36px;
}

.image_design_2, .image_border_2 {
    border-radius: 20% 0 20% 0;
    width: 681px;
    height: 726px;
}

.about_us_title {
    width: 543px;
    height: 412px;
    margin-left: 130px;
    margin-top: 30px;
}

.about_us_title > p:nth-child(1) {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.about_us_title > h2 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: var(--black-color);
    margin-top: 0;
}

.with_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.image_design_3, .image_border_3 {
    border-radius: 20% 0;
    width: 681px;
    height: 726px;
}

.image_border_3 {
    border-radius: 20% 0;
    border: 2px solid var(--brown-color);
    position: absolute;
    top: 28px;
    left: 696px;
    z-index: -1;
}

.twenty {
    color: var(--black-color);
    width: 528px;
    height: 446px;
}

.we_work_twenty_years {
    color: var(--black-color);
    font-size: 150px;
    font-weight: 700;
    margin:100px 0;
}

.we_work_years {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 50px;
    line-height: 65px;
    margin: 0;
}

.we_done {
    margin: 50px 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    line-height: 60px;
    color: var(--black-color);
    margin: 0;
}

.we_done_this {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1343px;
    height: 278px;
    margin: 87px 0 105px;
}

.we_box {
    border-radius: 40px 0;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    width: 185px;
    height: 182px;
    background: #FFFFFF;

}

.we_box:nth-child(2n) {
    align-self: flex-end;
}

.we_notbox {
    height: 100px;
    flex-grow: 1;
    align-self: center;
}

.we_notbox:nth-child(6n+2) {
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}

.we_notbox:nth-child(5) {
    border-bottom: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}

.we_notbox:nth-child(6) {
    border-top: 2px solid #E0E0E0;
}

.we_notbox:nth-child(6n+3) {
    border-bottom: 2px solid #E0E0E0;
}

.we_box_text {
   font-weight: 700;
   text-align: center;
   padding: 48px 30px;
}

.we_box_text span {
    font-size: 50px;
    color: var(--black-color);
    line-height: 10px;
}

.client_box, .client_box1, .blog_box, .client_box2, .blog_box1 {
    display: flex;
    flex-direction: column;
}

.client_box2, .blog_box1 {
    align-items: center;
}

.text_little, .text_big {
    font-family: 'Poppins';
    font-weight: 500;
}

.text_little {
    font-size: 20px;
}

.text_big {
    font-size: 48px;
    color: var(--black-color);
}

.client_write, .blog_box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    margin-bottom: 100px;
}

.people {
    width: 632px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.photo_people, .mini_brackets {
    position: absolute;
}

.photo_people {
    top: 40px;
    right: 500px;
}

.mini_brackets {
    top: 20px;
    right: 20px;
}

.saville, .waradwaz {
    width: 571px;
    height: 226px;
    box-shadow: 8px 8px 12px -6px;
    border-radius: 70px 0;
}

.info-profile_name, .info-profile {
    max-width: 435;
    height: auto;
    margin-left: 95px;
}

.info-profile_name {
    margin-top: 37px;
    margin-bottom: 10px;
}

.name_profile {
    font-weight: 700;
    color: var(--black-color);
    margin-top: 20px;
}

.blog_box {
    padding-top: 50px;
}

.blog_interior {
    width: 610px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.blog_image, .blog_image_border {
    width: 555px;
    height: 388px;
    border-radius: 70px 0;
}

.blog_image_border {
    border: 2px solid var(--brown-color);
    position: absolute;
    z-index: -1;
    top: 17px;
    left: 17px;
}

.blog_text {
    color: var(--black-color);
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
}

.blog_interior p {
    margin: 0;
}

.click4 {
    width: 271px;
    height: 53px;
    background-color: var(--button_green-color);
    border: none;
    border-radius: 25px 0;
    font-weight: 600;
    font-size: 18px;
    color: var(--white-color);
    margin-top: 55px;
}

.singup_box {
    display: flex;
    justify-content: center;
    margin-top: 117px;
    margin-bottom: 192px;
}

.singup_box_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 772px;
    height: 245px;
}

.line {
    width: 460px;
    margin: 37px 0 40px;
}

h5 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    color: var(--black-color);
}

.singup_text, h5 {
    text-align: center;
    margin: 0;
}

.singup_text {
    width: 647px;
}

.box_reg_singup {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    width: 772px;
    border-radius: 20px 0;
    background-color: #EEEEEE;
}

.your_mail {
    width: 590px;
    height: 48.5px;
    border-top-left-radius: 20px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    background-color: #EEEEEE;
    padding-left: 27px;

}

.your_mail:focus {
    outline: none;
    color: var(--black-color);
}

.click_5 {
    width: 180px;
    height: 50px;
    background-color: var(--button_green-color);
    color: var(--white-color);
    border-bottom-right-radius: 20px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.click_5:hover {
    background-color: var(--brown-color);
}

/* footer */

.information {
    padding-top: 50px;
}

.blog_box, .information, .we_done {
    background: #F8F8F8;
}

.our_information {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 78px;
}

.our_info1 {
    margin-right: 37px;
}

.our_info2, .our_info3 {
    margin-right: 101px;
}

.our_info4 {
    margin-right: 53px;
}


.our_info1 p {
    margin-top: 3px;
    width: 350px;
}

.infolist {
    list-style: none;
    padding: 0;
}

.infolist a {
    text-decoration: none;
    color: var(--base_text-color);
}

.infolist a:hover {
    color: var(--black-color);
}

.title_footer {
    font-weight: 600;
    font-size: 24px;
    color: var(--black-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

.our_info5 .infolist {
    display: flex;
}

.list_icon:not(:last-child) {
    margin-right: 8px;
}

.iconimg {
    width: 37px;
    border-radius: 50%;
    background-color: var(--icons_gray-color);
}

.iconimg:hover {
    background-color: var(--button_green-color);
}

.copyright {
    text-align: center;
    margin: 0;
    padding: 15px auto 22px;
}

.copyright span {
    color: var(--button_green-color);
}

/* .test */

/* .icon_sv {
    border: 1px solid red;
    height: 37px;
    fill: red;
    background-color: black;
    border-radius: 50%;
}

.icon_sv:hover {
    border: none;
    fill: rgb(1, 167, 31);
    background-color: rgb(255, 255, 255);
} */

/* .icon_svg {
    width: 37.17px;
    height: 37.17px;
    border-radius: 50%;
    background-color: var(--icons_gray-color);
    fill: var(--white-color);
}

.icon_svg:hover {
    background-color: var(--button_green-color);
} */